<main class="d-flex flex-column align-items-center">
      <h1>Qual o tipo de animal doméstico você perdeu? </h1>
      <div class="img" style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;">
            <ng-image-slider #nav
            
                  [images]="imageObject"
                  [infinite]="false"
                  [autoSlide]="1"
                  [imageSize]="{width: '25%', height: 200}"
                  [imagePopup]="true"
                  (imageClick)="callMap($event)"
                  slideImage="1"></ng-image-slider>


                  <app-geolocation-card *ngIf="novoCaso.tipo_animal" >


                  </app-geolocation-card>
                  

      </div>
</main>
