<div id="page_casos">
    <div *ngIf = 'casosList.length > 0' class="container">
        <div *ngFor = 'let caso of casosList' class="caso-animal">
            <div class="status">{{caso.status}}</div>
            <div class="data-caso">{{caso.data_caso | date:'dd/MM/yyyy'}}</div>
            <div class="tipo-animal">{{caso.tipo_animal}}</div>
            <div class="raca-animal">{{caso.raca}}</div>
            <div class="nome-animal">{{caso.nome_animal}}</div>
            <div class="imagem-animal">{{caso.imagem}}</div>
        </div>
    </div>
</div>
