#map {
  height: 100%;
}
strong{
  font-size: 15px;
}

agm-map {
  height: 100%;

}

h5{
  font-size: 20px;
}

.btn-hover:hover{
color: white;
      svg{
        fill: white;
      }

}

.infowindow-status-lost{
  padding-left: 5px;
  font-size: 15px;
font-weight: bold;
  color: red;
}
.infowindow-status-found{
  padding-left: 5px;
  font-size: 15px;
font-weight: bold;
  color: #43C6AC;
}
.infowindow-size{
  width: 150px;
}

img {
  height: 100%;
  width: 100%;
 
}