<google-map
	height="100vh"
	width="100%"
	[zoom]="zoom"
	[center]="center"
	[options]="options"
	(mapClick)="pegaMarcadorDoMouseClick($event)">
	<!-- todo Estender o tipo/classe MarMarker pra fazer um map do que vem do server pra esse novo tipo -->
	<map-marker #marker="mapMarker"
		*ngFor="let marke of markers "
		[position]="marke.position"
		[label]="marke.label.text"
		[options]="options"
		[icon]="marke.options.icon"
		(mapClick)="openInfoWindow(marker, marke.label.text)">
		<map-info-window>
			<div style="height:200px ; width:200px ;"> <img src='../../../assets/images/coelho.jpg' alt=""></div>
			<div style="height:200px ; width:200px ;">
				<span class="row">
					<h2> nome: </h2>
					<h2> {{marke.title}}</h2>
				</span>
			</div>
		</map-info-window>
	</map-marker>
</google-map>
<!-- <button (click)="teste(marke.nome_animal)"></button> -->
<!-- <button (click)="teste()"></button> -->
