<div class="w-100 h-100">
    <div class="d-flex flex-column justify-content-start placeholder-glow">
        <div class="d-flex justify-content-center"><h2 class="align-items-center"> Nos conte como e onde você perdeu seu pet?</h2></div>
    </div>
    <div class="d-block">
        <div id="page-login">
            <div class="section-form m-3">
                <h1>Informe os dados do caso</h1>
                <div>
                    <!-- <div class="form-group">
                        <label for="email" style="display:none;">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Digite o seu e-mail">
                    </div>
                    <div class="form-group">
                        <label for="password" style="display:none;">Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="Digite a sua senha">
                    </div> -->
                    <div class="form-group">
                        <!-- <label for='data_caso'> Data </label> -->
                        <input type="date" placeholder="Data" class="form-control" [(ngModel)]='caso.data_caso' id='data_caso'>
                    </div>
                    <div class="form-group">
                        <!-- <label for='tipo_animal'> Tipo </label> -->
                        <select name="tipo_animal"  (change)="setTipoAnimal($event)" id="tipo_animal" class="form-select">
                            <option value="null">Tipo do Animal</option>
                            <option value="gato">Gato</option>
                            <option value="cachorro">Cachorro</option>

                        </select>
                        <input type="text" placeholder="Tipo do animal" class="form-control" [(ngModel)]="caso.tipo_animal" id="tipo_animal">
                    </div>
                    <div class="form-group">
                        <!-- <label for='raca'> Raça </label> -->
                        <input type="text" placeholder="Raça" class="form-control" [(ngModel)]="caso.raca" id="raca">
                    </div>
                    <div class="form-group">
                        <!-- <label for='nome_animal'> Nome </label> -->
                        <input type="text" placeholder="Nome do animal" class="form-control" [(ngModel)]="caso.nome_animal" id="nome_animal">
                    </div>
                    <div class="form-group">
                        <!-- <label for='imagem'> Imagem </label> -->
                        <button type="submit" class="btn btn-pet-finder btn-login ">Fotos <svg width="42" height="35" viewBox="0 0 42 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.87651 11.7424C5.87651 12.6249 6.67226 13.347 7.64484 13.347C8.61742 13.347 9.41316 12.6249 9.41316 11.7424V8.53321H12.9498C13.9224 8.53321 14.7181 7.81115 14.7181 6.92862C14.7181 6.0461 13.9224 5.32403 12.9498 5.32403H9.41316V2.11485C9.41316 1.23232 8.61742 0.510254 7.64484 0.510254C6.67226 0.510254 5.87651 1.23232 5.87651 2.11485V5.32403H2.33986C1.36728 5.32403 0.571533 6.0461 0.571533 6.92862C0.571533 7.81115 1.36728 8.53321 2.33986 8.53321H5.87651V11.7424Z" fill="black"/>
                            <path d="M23.4559 26.1838C26.4432 26.1838 28.8649 24.1554 28.8649 21.6532C28.8649 19.151 26.4432 17.1226 23.4559 17.1226C20.4686 17.1226 18.0469 19.151 18.0469 21.6532C18.0469 24.1554 20.4686 26.1838 23.4559 26.1838Z" fill="black"/>
                            <path d="M31.7491 9.343L31.8946 9.48411H32.0973H37.7688C39.5165 9.48411 40.8471 10.7476 40.8471 12.1723V31.3016C40.8471 32.7262 39.5165 33.9898 37.7688 33.9898H9.14272C7.39499 33.9898 6.06445 32.7262 6.06445 31.3016V15.6587C6.46348 15.7855 6.89223 15.8605 7.35358 15.8605C9.54195 15.8605 11.4318 14.2547 11.4318 12.1723V11.0782H12.721C14.9093 11.0782 16.7992 9.47236 16.7992 7.39C16.7992 6.99835 16.7264 6.63412 16.6035 6.2959H27.2487C28.1292 6.2959 28.966 6.63352 29.5275 7.18787L29.5274 7.18788L29.5306 7.19096L31.7491 9.343ZM14.0101 21.7369C14.0101 26.4655 18.2974 30.2075 23.4558 30.2075C28.6141 30.2075 32.9014 26.4655 32.9014 21.7369C32.9014 17.0084 28.6141 13.2664 23.4558 13.2664C18.2974 13.2664 14.0101 17.0084 14.0101 21.7369Z" fill="black" stroke="black"/>
                            </svg>
                    </button>
                        <input type="file" class="form-control" [(ngModel)]="caso.imagem" id="imagem">
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <!-- todo : Arrumar esse botão de upload conforme o figma -->
                        <button type="submit" class="btn btn-pet-finder btn-login " (click)="save()">Registar perda <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.4616 11.6081C14.8856 12.1878 14.8856 13.1094 15.4616 13.6891L18.2676 16.5135H4.68056C3.86829 16.5135 3.2037 17.1824 3.2037 18C3.2037 18.8175 3.86829 19.4864 4.68056 19.4864H18.2676L15.4616 22.3108C14.8856 22.8905 14.8856 23.8121 15.4616 24.3919C16.0375 24.9716 16.9532 24.9716 17.5292 24.3919L22.8311 19.0554C23.407 18.4756 23.407 17.5391 22.8311 16.9594L17.5292 11.6081C16.9532 11.0283 16.0375 11.0283 15.4616 11.6081ZM29.787 28.4054H19.4491C18.6368 28.4054 17.9722 29.0743 17.9722 29.8919C17.9722 30.7094 18.6368 31.3783 19.4491 31.3783H29.787C31.4116 31.3783 32.7407 30.0405 32.7407 28.4054V7.59455C32.7407 5.95942 31.4116 4.62158 29.787 4.62158H19.4491C18.6368 4.62158 17.9722 5.2905 17.9722 6.10807C17.9722 6.92564 18.6368 7.59455 19.4491 7.59455H29.787V28.4054Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="section-form m-3 w-75" >
                <h1>Clique próximo ao local da perda </h1>
                <div class="m-3 ">
                    <google-map
                        [zoom]="zoom"
                        [center]="center"
                        [options]="options"
                        (mapClick)="pegaMarcadorDoMouseClick($event)">
                        <map-marker #marker="mapMarker"
                            *ngFor="let marker of markers "
                            [position]="marker.position "
                            [label]="'teste'"
                            [title]="marker.nome_animal"
                            [options]="options">
                            <!-- <map-info-window>
                                <div style="height:200px ; width:200px ;"> <img src='../../../assets/images/coelho.jpg' alt=""></div>
                                <div style="height:200px ; width:200px ;">
                                    <p>Scuby</p>
                                    <p>Coelho</p>
                                    <p>Sem Raça</p>
                                    <p>04/04/2022</p>
                                </div>
                            </map-info-window> -->
                        </map-marker>
                    </google-map>
                </div>
            </div>
        </div>
    </div>
</div>
